// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// custom labels

.label-lecture { background-color: #779ECC; border-radius: 9px; vertical-align: top; }

.label-lab { background-color: #198754; border-radius: 9px; vertical-align: top; }

.label-vit { background-color: #c1443c; border-radius: 9px; vertical-align: top; }

.label-live { background-color: #7A77B9; border-radius: 9px; vertical-align: top; }

.label-hw { background-color: #1658EB; border-radius: 9px; vertical-align: top; }

.label-crit { background-color: #FF8144; border-radius: 9px; vertical-align: top; }

.label-code { background-color: #888888; border-radius: 9px; vertical-align: top; }
.label-slides { background-color: #888888; border-radius: 9px; vertical-align: top; }

.label-disc { background-color: #63c082; border-radius: 9px; vertical-align: top; }

.label-survey { background-color: #aaaaaa; border-radius: 9px; vertical-align: top; }

.label-proj { background-color: #17a2b8; border-radius: 9px; vertical-align: top; }

.label-exam { background-color: #dc3545; border-radius: 9px; vertical-align: top; }
.label-reading { background-color: #a02255; border-radius: 9px; vertical-align: top; }

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

details {
  margin: 0 40px 1em;
}

iframe,
summary {
  max-width: 100%;
}

summary {
  @extend .btn, .btn-outline;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}
